:root {
    box-sizing: border-box;
    font-size: 16px;
    --color-text-gray: #777777;
    --color-text-black: #222222;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin:0;
    padding:0;
    line-height:1;
}

body{
font-family:'Montserrat', sans-serif;
}

.wrap {
	max-width: 940px;
	margin: 0 auto;
}
.header-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}
.nav{
	list-style-type: none;
	display: flex;
}
.nav__item{
	margin-left: 40px;
}
.nav__link{
	color: var(--color-text-gray);
	text-decoration: none;
	text-transform: uppercase;
	font-size:0.8rem;
}
.nav__link:hover{
	color: var(--color-text-black);
}
.header-intro{
	background-image: url('../img/background-header.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
	text-align: center;
  margin-top: 40px;
}
.header-intro-mask{
	background-color: rgba(0,0,0,0.7);
	height:530px;
}
.header-intro__title{
	font-size: 3.75rem;
	color: #fff;
	padding-top:120px;
	text-transform: uppercase;
	line-height: 1.3;
		text-align: center;
}
.header-intro__desc{
		text-align: center;
		color:#fff;
}
.header-intro__btn {
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background: #7cc576;
  transition: 0.2s;
  display:block;
  margin: 0 auto;
  width: 156px;
  margin-top:20px;
  font-family: 'Montserrat';
} 
.header-intro__btn:hover { background: gray; }

.block {
    padding-top: 100px;
    text-align: center;
}
.block__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-text-black);
}
.block__subtitle {
    font-family: 'Roboto Slab';
    color: var(--color-text-gray);
    margin-top: 18px;
    font-size: 1.25rem;
}
.service {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
.feature {
    flex-basis: 31%;
}
.feature__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--color-text-black);
    margin-top: 40px;
}
.feature__desc {
    font-family: 'Roboto Slab';
    color: var(--color-text-gray);
    margin-top: 18px;
    font-size: 0.875rem;
    line-height: 1.7;
}
.relax {
    display:flex;
    height: 616px;
}
.relax__left {
    flex-basis: 30%;
    background-color: #e9e9e9;
    position: relative;
}
.relax__gear {
    background-image: url('../img/gear.png');
    background-repeat: no-repeat;
    width: 387px;
    height: 415px;
    position: absolute;
    top:100px;
    right: -200px;
}
.relax__right {
    background-image: url('../img/background-service.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-basis: 70%;
    padding-left: 100px;
}

.relax__right-mask{
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    flex-basis: 70%;
    padding-left: 100px;
    padding-top: 20px;
    margin-left: -100px;
    height: 616px;
}

.block__title--white {
    color: #fff;
    margin-top: 90px;
    text-align: left;
    line-height: 1.5;
}
.block__apm {
    color: #7cc576;

}
.block__subtitle--service {
    text-align: left;
    color: #fff;
    font-size: 1rem;
    max-width: 550px;
    line-height: 1.5;
    color: var(--color-text-gray);
}
.relax__list {
    list-style-type: none;
    text-align: left;
    color: #fff;
    margin-left: 30px;
}

.relax__item {
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
    font-family: 'Roboto Slab';
    color: var(--color-text-gray);
}

.relax__item::before {
    content: '';
    background-image: url('../img/marker.svg');
    width: 31px;
    height: 31px;
    position: absolute;
    left: -30px;
    top: -10px;
}
.relax__right-btn{
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 30px;
  background: #7cc576;
  transition: 0.2s;
  display:block; 
  width: 156px;
  margin-left:0px;
  margin-top: 50px;
  font-family: 'Montserrat';
}
.relax__right-btn:hover { background: gray; }

.block-project {
    position: relative;
    padding-bottom: 100px;
}
.block-project__ipad {
    position: absolute;
    background-image: url('../img/ipad.png');
    background-repeat: no-repeat;
    width: 681px;
    height: 599px;
    right: 0;
    top:230px;
}

.block__subtitle{
  font-size: 20px;
}

.project {
    text-align: left;
    max-width: 480px;
    padding-top: 90px;
}
.project__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--color-text-black);
}
.project-list__item {
    display: flex;
    align-items: center;

}

.culture {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.wrap--position {
    position: relative;
}

.cultute-line {
    position: absolute;
    display:flex;
    top:213px;
}

.cultute-line__item {
    width: 170px;
    border-bottom: 2px solid var(--color-text-gray);
    margin-left: 220px;
}

.cultute-line__right {
    margin-left: 150px;
}

.block--light-gray {
    background-color: #f9f9f9;
    padding-bottom: 90px;
}

.project-list{
  padding-top: 27px;
}

.project-list__text{
  padding-left: 16px;
}

.project__desc{
  padding-top: 20px;
  padding-bottom: 30px;
  color: var(--color-text-gray);
  font-family: 'Roboto Slab';
  font-size: 16px;
}
.project-list__desc{
  margin-top: 10px;
  color: var(--color-text-gray);
  font-family: 'Roboto Slab';
  font-size: 16px;
}

.project__link{
    text-decoration: none;
    font-weight: 700;
    color: #7cc576;
    font-size: 1rem;
}
.project__link:hover {
 color: black; 
}
.project__link:active{
    color: var(--color-text-gray);
}

.feature__desc{
  font-family: 'Roboto Slab';
}

/* BLOCK CLIENTS */
.clients {
    padding-top: 90px;
}
.message {
    display:flex;
    align-items: center;
}
.message--right {
    flex-direction: row-reverse;
}
.message__ava {
    width: 220px;
    height: 220px;
    background-color: lightgray;
    border-radius: 50%;
}
.message__text {
    width: 661px;
    height: 172px;
    background-image: url('../img/messagebox-left.svg');
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 30px;
    margin: 0 20px;

}
.message__text--right {
  background-image: url('../img/messagebox-right.svg');
}
.message__cite {
    font-family: 'Roboto Slab';

    color: var(--color-text-gray);
    font-size: 1.375rem;
    line-height: 1.5;
}
.message__cite::before {
    content: '“ ';
}
.message__cite::after {
    content: ' ”';
}
.message__author{
  font-family: 'Roboto Slab';
  margin-top:15px;
   font-size: 1.125rem;
  color:#7cc576;
}
.block--light-green{
    background-color: #7cc576;
    position: relative;
    height: 250px;
    margin-top: 50px;
}
.Readtalk{
    font-size: 2.2rem;
    color: white;
    text-transform: uppercase;
}

.block-green__btn {
  font-weight: 520;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 10px;
  background-color: #7cc576;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 155px;
  margin-top: 20px;
  border: 2px solid #ffffff; 

} 
.block-green__btn:hover {
 background-color: #ffffff;
 color: black; 
}
.block-green__btn:active {
  background-color: #acadac;
  box-shadow: 0 3px #acadac inset;
}
.block-logo__logotip{
    list-style-type: none;
    display: flex;
    margin:50px;

}
.Envato{
    margin-left:300px;
    margin-right:50px;
}
.Wordpress{
    margin-right:50px;
}
.Tuts{
    margin-right:50px;
}
.Microlancer{
    margin-right:50px;
}

.block-info{
  background-color: var(--color-text-black);
  padding: 60px 0;
}
.info-column__title{
  color:#fff;
  text-transform: uppercase;
  font-size:1.125rem;
  font-weight:700px;
}
.info-column__list{
  list-style-type:none;
  margin-top:30px;
}
.info-column__item{
  display:flex;
  align-items: center;
}
.info-column__item + .info-column__item{
  margin-top:20px;
}
.info-column__icon{
  color: #ececec;
  width:23px;
  margin-right:15px;

}
.info-column__text{
  font-family: 'Roboto Slab';
  color: #ececec;
  font-size: 1rem;
  line-height: 1.5;
}
.all-info{
  display: flex;
}
